:root {
    --white: #ffffff;
    --gold: #bdae82;
    --black: #000000;
}

/* Text styles*/
.inter {
    color: var(--white);
    font-family: Inter;
    font-size: 20px;
}

.section-title {
    margin: 100px auto 0;
    color: var(--gold);
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px; 
    max-width: 700px;

    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.section-title::before, .section-title::after {
    content: "";
    height: 2px;
    background-color: var(--gold);
    display: inline-block;
    width: 100%;
    z-index: -1;
    position: relative;
    /* vertical-align: middle; */
    bottom: 12px;
}

    .section-title:before {
    right: 20px;
    margin: 0 0 0 -100%;
   }
   .section-title:after {
    left: 20px;
    margin: 0 -100% 0 0;
   }



button {
    color: var(--black);
    font-family: Inter;
    font-size: 20px;
    width: 220px;
    height: 55px;
    background-color: var(--gold);
    border: none;
    transition: ease-in 0.3s;
}

a:hover,
header a:hover,
.nav-top > a:hover{
    color: var(--gold);
    cursor: pointer;
    transition: ease-in 0.3s;
}

a,
a > img   {
    transition: ease-in 0.3s;
}

a:hover > img,
.video-block > button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: ease-in 0.3s;
}


button:hover,
.hero button:hover,
.price-items button:hover {
    color: var(--white);
    cursor: pointer;
    transition: ease-in 0.3s;
}

.portfolio-buttons > button {
    box-sizing: border-box;
    border: var(--gold) 2px solid;
    background-color: var(--black);
    color: var(--gold);
}

.portfolio-buttons > button:hover {
    color: var(--white);
}

.portfolio-buttons > button:focus-within {
    background-color: var(--gold);
    color: var(--black);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0;
    background-color: var(--black);
    scroll-behavior: smooth;

}


body {
    background-image: url(assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 910px;
    background-position: center 0;
}

section {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

header > .container {
    height: 90px;
    display: flex;
    line-height: 50px;
    align-items: center;
}

.logo {
    display: block;
    width: 50px;
    height: 40px;
    margin-left: 20px;
}

.nav-top {
    max-width: 500px;
    height: 50px;
    margin-left: auto;

}

.nav-top > ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    list-style-type: none;
    width: 500px;
    height: 100%;
}

li {
    display: block;
}

.nav-top  a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.language-panel {
    width: 70px;
    height: 50px;
    margin-right: 20px;
}

.burger {
    display: none;
}

.hero {
    height: 820px;
}

h1 {
    color: var(--white);
    font-family: Merriweather;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    margin: 160px 0 0 80px;
}

.hero > p {
    line-height: 40px;
    max-width: 470px;
    margin: 10px 0 0 80px;
}

.hero > button {
    margin: 60px 0 0 80px;
}

.skills {
    width: 100%;
    min-height: 482px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    min-height: 242px;
    margin: 60px auto 0;
    align-items: flex-start;
}

.skills-item {
    width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 244px;
}



.skills-item > img{
    height: 50px;
    margin-bottom: 50px;
}

.skills-item > h4 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 40px;
}

.skills-item > p {
    font-family: Inter;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    padding: 0 20px;
}

.portfolio {
    height: 1500px;
}

.portfolio-buttons {
    margin: 60px auto 60px;
    max-width: 895px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.portfolio-buttons > button {
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    
}

.portfolio-items {
    max-width: 1400px;
    height: 1145px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-items > img {
    max-width: 450px;
    height: 560px;
}

.video {
    height: 945px;
}

.video-block {
    height: 705px;
    max-width: 1400px;
    background-image: url(assets/img/video-player.jpg);
    background-size: cover;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
}

.video-block > button {
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(assets/svg/Play_hover.svg);
    background-color: transparent;
    margin: auto;
}

.price {
    height: 845px;
}

.price-items {
    height: 505px;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 0;
}

.price-items > div {
    box-sizing: border-box;
    border: 3px solid var(--gold);
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    row-gap: 20px;
}

.price-items > div > h3 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: var(--white);
}

.price-items > div > p {
    font-family: Merriweather;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: var(--gold);    
}

.price-items > div > div {
    font-family: Inter;
    font-size: 18px;
    line-height: 36px;
    color: var(--white);
    text-align: center;
}

.price-items > div > button {
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    color: var(--black);
    margin-top: 20px;
}

.contacts {
    height: 700px;
    background-image: url(assets/img/contacts.jpg);
    background-size: cover;
}

.contacts-block {
    max-width: 450px;
    height: 445px;
    margin: 60px 20px 0 auto;
}

.contacts-block > h2 {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--gold);
    margin-bottom: 40px;
}

.contacts-block > input,
.contacts-block > textarea {
    display: block;
    box-sizing: border-box;
    border: var(--gold) 2px solid;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 100%;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    padding: 5px 20px;
}

.contacts-block > input {
    height: 50px;
}

.contacts-block > textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.contacts-block > input::placeholder,
.contacts-block > textarea::placeholder {
    font-family: inherit;
    color: inherit;
}

.contacts-block > button {
    margin-top: 10px;
}

footer {
    color: var(--white);
    display: flex;
    font-family: Inter;
    font-size: 20px;
    height: 150px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

footer  a {
    color: inherit;
    text-decoration: none;
    display: block;
    flex: 1;
}

footer > div {
    flex: 1;
}

footer > div > div > ul{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 188px;
}
a > img {
    display: block;
}

footer  a:nth-child(1) {
    word-spacing: 20px;
}

footer  a:nth-child(2) {
    text-align: center;
}

/*768px*/
@media (max-width: 768px) {

.container {
    max-width: 768px;
    padding: 0 60px;
}

body {
    background-image: url(assets/img/hero-bg-small.jpg);
    background-size: auto 590px;
}


.hero {
    height: 500px;
}

h1 {
    font-size: 32px;
    line-height: 200%;
    margin: 78px 0 0 0;
}

.hero > p {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    max-width: 390px;
}

.hero > button {
    margin-left: 0;
}

.section-title {
    max-width: 364px;
    margin-top: 80px;
    font-size: 32px;
    line-height: 200%;
}

.skills {
    min-height: 729px;
}

.skills-items {
    max-width: 644px;
    min-height: 484px;
    margin: 36px auto 0;
    flex-wrap: wrap;
    align-content: space-between;
}

.skills-item {
    min-height: 224px;
    margin: 0 auto;
    width: 300px;
}

.skills-item > img {
    height: 50px;
    margin-bottom: 30px;
}

.skills-item > p {
    font-size: 18px;
    line-height: 22px;
    padding: 0 10px;
}

.portfolio {
    height: 3870px;
}
.portfolio-buttons {
    max-width: 445px;
    height: 115px;
    margin: 50px auto 60px;
    flex-wrap: wrap;
}

.portfolio-items {
    height: 3485px;
    max-width: 450px;
}

.video {
    height: 628px;
}

.video-block {
    height: 418px;
    width: 100vw;
    position: absolute;
    left: 0;
    margin-top: 50px;
}

.video-block > button {
    height: 65px;
    width: 65px;
    background-size: cover;
}

.price {
    height: 1905px;
}

.price-items {
    max-width: 420px;
    flex-direction: column;
    row-gap: 50px;
}

.price-items > div {
    width: 420px;
}

.contacts {
    height: 600px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    left: -60px
}

.contacts-block {
    margin: 60px auto 0;
}

.contacts-block > h2 {
    text-align: center;
    font-size: 32px;
    line-height: 200%;
}

.contacts-block > button {
    margin: 10px auto 0;
    display: block;
}

footer {
    flex-direction: column;
    padding: 28px 0;
    height: 190px;
}

footer  a:nth-child(1) {
    margin-bottom: 16px;
}

footer > div > div > ul {
    margin-top: 20px;
}

header > .container {
    justify-content: space-between;
}

.language-panel {
    margin-left: auto;
}

.logo {
    margin: 0;
}

.burger {
    display: flex;
    width: 50px;
    height: 28px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 15;
}

.burger:hover > span {
    background-color: var(--gold);
}

.burger > span {
    display: block;
    height: 3px;
    background-color: var(--white);
    transition: ease-in 0.5s;
    position: relative;
    top: 0;
}

.burger.open > span:nth-child(1) {
    position: relative;
    top: 12.3px;
    transform: rotate(45deg);
    transition: ease-in 0.5s;
}

.burger.open > span:nth-child(2) {
opacity: 0;}

.burger.open > span:nth-child(3) {
    position: relative;
    top: -12.3px;
    transform: rotate(135deg);
    transition: ease-in 0.5s;
}

.nav-top.open{
    position: absolute;
    right: 0;
    top: 0;
}

.nav-top > ul {
    flex-direction: column;
    justify-content: space-between;
    height: 429px;
    width: 150px;
    border: 1px red solid;
    margin-top: 134px;
    margin-left: 127px;
    /* z-index: 13; */
}

.nav-top {
    right: -100vw;
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 620px;
    max-width: 620px;
    z-index: 10;
    background-color: var(--black);
    font-size: 35px;
    line-height: 73px;
    transition: ease-in 0.3s;
}

.shadow.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.shadow {
    z-index: -1;
    transition: ease-in 0.3s;
}

}